@model HTShop.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="account_grid">
    <div class=" login-right">
        <h3>Đăng nhập</h3>
        <p>Nếu bạn đã có tài khoản, vui lòng đăng nhập.</p>
        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <div>
                <span>Tên đăng nhập<label>*</label></span>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                <span>Mật khẩu<label>*</label></span>
                @Html.TextBoxFor(model => model.Password)
            </div>
            <div>
                @Html.CheckBoxFor(model => model.RememberMe)
                Nhớ mật khẩu?
            </div>
            <a class="forgot" href="#">Quên mật khẩu?</a>
            <input type="submit" value="Login">
        }
    </div>
    <div class=" login-left">
        <h3>Khách hàng mới?</h3>
        <p>Nếu bạn chưa có tài khoản, vui lòng đăng ký tại link bên dưới</p>
        <a class="acount-btn" href="/dang-ky">Đăng ký thành viên</a>
    </div>
    <div class="clearfix"> </div>
</div>

